/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root {
  --content-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --main-text: Inter-Variable, sans-serif;
  --accent-text: PressStart2P-Regular, fantasy;
}

:root.theme-light {
  --font-weight-main: 400;
  --font-weight-bold: 700;
  --accent-color: rgba(255, 255, 255, 1);
  --accent-color-text: rgba(0, 0, 0, 1);
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --Themes-background: rgba(255, 255, 255, 1);
  --button-color: rgba(255, 255, 255, 1);
  --name: rgba(0, 0, 0, 1);
  --color-sparks: red;
  --main-body: black;
}

:root.theme-dark {
  --font-weight-main: 465;
  --font-weight-bold: 785;
  --accent-color: rgba(0, 0, 0, 1);
  --accent-color-text: rgba(0, 204, 20, 1);
  --background-image: repeating-linear-gradient(
      to right,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
  --Themes-background: rgba(0, 0, 0, 1);
  --button-color: rgba(0, 204, 20, 1);
  --name: rgba(0, 204, 20, 1);
  --main-body: rgba(0, 204, 20, 1);
  --color-sparks: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-main: 465;
    --font-weight-bold: 785;
    --accent-color: rgba(0, 0, 0, 1);
    --accent-color-text: rgba(0, 204, 20, 1);
    --background-image: repeating-linear-gradient(
        to right,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #007f0c 0.01%, #004306);
    --Themes-background: rgba(0, 0, 0, 1);
    --button-color: rgba(0, 204, 20, 1);
    --name: rgba(0, 204, 20, 1);
    --main-body: rgba(0, 204, 20, 1);
    --color-sparks: red;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-weight-main: 400;
    --font-weight-bold: 700;
    --accent-color: rgba(255, 255, 255, 1);
    --accent-color-text: rgba(0, 0, 0, 1);
    --background-image: repeating-linear-gradient(
        to right,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --Themes-background: rgba(255, 255, 255, 1);
    --button-color: rgba(255, 255, 255, 1);
    --name: rgba(0, 0, 0, 1);
    --color-sparks: red;
    --main-body: black;
  }
}
@media (width <= 375px) {
  :root {
    --content-size: 100%;
  }
}
